@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-brown: #a38061;
  --dark-brown: #8b5220;
}
@font-face {
  font-family: "Earthis";
  src: url(./fonts/Earthis-51vax.otf);
}
@font-face {
  font-family: "Playwrite";
  src: url(./fonts/PlaywriteDEGrund-VariableFont_wght.ttf);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #f5d7bb;
  font-family: "Playwrite", Arial, Helvetica, sans-serif;
}
h1 {
  font-family: "Earthis", Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
